@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Google Sans", sans-serif;
  background-image: url("./assets/img/blue-abstract-gradient-wave-wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
 }

 article {
   padding-inline: 40px;
   margin-bottom: 40px;
 }

a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3 {
  color: #4a2d8b;
  text-shadow: 1px 1px 2px #504370;
  text-align: center;
  margin-bottom:  40px;
}

h1 {
  margin-bottom: 8px;
}
img {
  border-radius: 16px;
}

button {
  width: 150px;
  padding: 10px;
  margin-right: 50px;
  border-radius: 16px;
  border: 1px solid rgb(172, 8, 126);
  color: rgb(30, 12, 131);
  background-color: aqua;
  cursor: pointer;
}
input {
  background-color: orange;
  border-radius: 14px;
  padding: 8px;
  border: 1px solid rgb(6, 167, 14);
  cursor: pointer;
}

button:hover {
  color: rgb(201, 221, 16);
  background-color: rgb(11, 159, 55);
}

input:hover {
  background-color: #cb8ec5;
}

td,
th {
  border: 3px solid rgb(6, 167, 14);
  text-align: center;
}

.fa-regular {
  color: aqua;
  text-align: center;
  padding: 5px;
  font-size: 24px;
}
.nav-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 10px;
  background-color: rgb(132, 192, 244);
  font-size: 20px;
 
}

.navigation {
  display: flex;
  gap: 100px;
  padding: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.hero p {
  text-align: center;
  margin-bottom: 40px;
}

.layout {
  display: flex;
  justify-content: center;
}



.table-article-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.table-wrap {
  width: 600px;
  margin-bottom: 40px;
}
.footer-wrap {
  background-color: rgb(132, 192, 244);
  padding: 10px 20px;
}

.input-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}